/* App Theme */
:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
}

.App {
  text-align: center;
}

/* Cards */
.card {
  transition: all var(--speed) ease;
  background-color: var(--bg-accent);
}

.card-enter {
  opacity: 0;
  transform: scale(0.9);
}
.card-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.card-exit {
  opacity: 1;
}
.card-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}